.box{
    margin: 30px;
    padding: 20px;
    border: 3px solid rgb(152, 89, 214);
    background-color: aquamarine;
}

.box2{
    background-color: rgb(153, 187, 218);
}

.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(178, 255, 101);
    position: static;
}

.box4{
    width: 100px;
    height: 100px;
    background-color: rgb(221, 193, 247);
    position: relative;
    bottom: 20px;
    left: 30px;
}

.container{
    width: 300px;
    height: 300px;
    background-color: palevioletred;
    position: relative;
}

.box5{
    width: 100px;
    height: 100px;
    background-color: bisque;
    position: absolute;
    bottom: 10px;
    right: 10px;
}